@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-*: initial;
  --color-background: var(--color-background);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-green: var(--color-green);
  --color-dark-green: var(--color-dark-green);
  --color-block: var(--color-block);
  --color-border: var(--color-border);
  --color-semi-white: var(--color-semi-white);
  --color-black: var(--color-black);
  --font-main: var(--font-main);
}

:root {
  --color-semi-white: #F9FAFB;
  --color-background: #F9FAFB;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-green: #22c55e;
  --color-dark-green: #1fa550;
  --color-block: #F3F4F6;
  --color-border: #e7e7e7;
  --color-black: #000000;
}

.dark {
  --color-background: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #9CA3AF;
  --color-block: #111111;
  --color-border: #313131;
}

@layer base {
  body {
    @apply bg-background font-main text-text-primary text-base;
  }
}