@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-*: initial;
  --color-background: var(--color-background);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-green: var(--color-green);
  --font-main: var(--font-main)
}

:root {
  --color-background: #F9FAFB;
  --color-text-primary: #111827;
  --color-text-secondary-color: #6B7280;
  --color-green: #22c55e;
  --color-block-bg: #F3F4F6;
  --color-border: #e7e7e7;
}

.dark {
  --color-background: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #9CA3AF;
  --color-block-bg: #111111;
  --color-border: #313131;
}

@layer base {
  body {
    @apply bg-background font-main;
  }
}